<!doctype html>

<html>
<head>
</head>
<body>

    <form method="post" action="" novalidate>
        {% csrf_token %}
        {% for form in forms %}
        <table>
            <tbody>
                <tr>
                    <td> {{ form.current }} {{ form.current.errors }}</td>
                    <td> {{ form.increment }} {{ form.increment.errors }}</td>
                    <td> {{ form.decrement }} {{ form.decrement.errors }}</td>
                    <td> {{ form.final }} {{ form.final.errors }}</td>
                </tr>
            </tbody>
        </table>
        {% endfor %}
        <input type="submit" value="Хадгалах">
    </form>

</body>
</html>
